<div class="panel info border-0 bg-white p-2">
  <div class="d-flex justify-space-between">
    <h5 class="mb-1">What do you want to share?</h5>
    <span class="text-sm">
      <a title="Post note" href="#" class="align-top d-inline-block ml-05 text-charcoal hover-sunshine"><i class="fa-solid fa-note-sticky"></i></a>
      <a title="Coming soon" href="#" class="align-top cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-image"></i></a>
      <a title="Coming soon" href="#" class="align-top cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-link"></i></a>
      <a title="Coming soon" href="#" class="align-top cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-palette"></i></a>
    </span>
  </div>
  <fieldset class="mb-05">
    <textarea class="w-100 mb-1"></textarea>
    <div class="d-flex justify-space-between">
      <button class="btn w-150px">Post</button>
      <small class="text-whale text-xs text-verdana">140 chars</small>
    </div>
  </fieldset>
</div>
