<div class="panel bg-white info border-0 shadow pb-2 d-none lg-d-block">
  <h5 class="text-xs text-slate text-normal mb-2">Media Gallery</h5>
  <div>
    <% posts.forEach(function (item, i) { %>
      <a href="/posts/<%= i %>" class="d-inline-block mr-05 mb-1">
        <img src="https://picsum.photos/75/75?<%= i %>" alt="">
      </a>
    <% }) %>
  </div>
</div>
