<div class="panel bg-white info border-0 shadow d-none lg-d-block">
  <h5 class="text-xs text-slate text-normal mb-2">People to Follow</h5>
  <ul class="list-style-none ml-0 pl-0 mb-1">
    <% posts.forEach(function (post, i) { %>
      <li class="mb-05">
        <a href="/user/<%= post.authorHandle %>" class="d-block text-whale hover-cobalt text-underline-none">
          <img src="https://picsum.photos/45/45?<%= i %>" alt="" /><h5 class="text-normal d-inline-block ml-05">@<%= post.authorHandle %></h5>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
