<div class="panel border-0 p-0 info bg-white mb-2">
  <div class="p-2 d-flex justify-space-between border-1 border-whale border-bottom-dashed">
    <h5 class="mb-0">Timeline <span class="text-cloud"> | <a title="Coming soon" href="#" class="cursor-not-allowed text-whale text-normal text-underline-none hover-whale">Popular</a></span></h5>
    <div class="text-sm">
      <a title="View list" href="#" class="d-inline-block ml-05 text-charcoal hover-sunshine"><i class="fa-solid fa-list"></i></a>
      <a title="Coming soon" href="#" class="cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-image"></i></a>
      <a title="Coming soon" href="#" class="cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-map"></i></a>
    </div>
  </div>
  <%- include('posts-list') %>  
</div>
<h6 class="text-center"><a href="#" class="text-normal text-cloud hover-sunshine text-underline-none">View more posts</a></h6>
