<%- include('inc/head') %>
<main class="md-d-flex w-100 col-gap-2 p-1 md-p-2">
  <article class="container">
    <section>
      <blockquote class="mt-5">
        <h3 class="mb-0">Page Not Found</h3>
      </blockquote>
    </section>
    <h6><a class="link-alt" title="Futility UI Contents" href="/<%= ext %>">&larr; Back to Home</a></h6>
  </article>
</main>
<%- include('inc/foot') %>
