<%- include('inc/head') %>
<main class="row">
  <article class="container">
    <section>
      <blockquote class="mt-5">
        <h3 class="mb-0">Page Not Found</h3>
      </blockquote>
    </section>
    <h6><a class="link-alt" title="Futility UI Contents" href="/contents<%= ext %>">&larr; Back to Contents</a></h6>
  </article>
</main>
<%- include('inc/foot') %>
