
<section>  
  <fieldset>
    <label for="text-input">Username</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="">
  </fieldset>
  <fieldset>
    <label for="text-input">Owner Name</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="First Name">
    <input class="w-300px" id="text-input" type="text" value="" placeholder="Last Name">
  </fieldset>
  <fieldset>
    <label for="text-input">Owner Email</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="youremail@gmail.com">
  </fieldset>
  <fieldset>
    <label for="text-input">Date of Birth</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="mm/dd/yyyy">
  </fieldset>
  <fieldset>
    <label for="text-input">Owner Phone</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="xxx-xx-xxxx">
  </fieldset>
</section>
<section>
  <h3>Profile Fields</h3>
  <fieldset>
    <label for="file-input">Profile Pic</label>
    <input id="file-input" type="file" name="file">
  </fieldset>
  <fieldset>
    <label for="text-input">Display Name</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="">
  </fieldset>
  <fieldset>
    <label for="text-input">Bio</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="">
  </fieldset>
  <fieldset>
    <label for="text-input">Link</label>
    <input class="w-300px" id="text-input" type="text" value="" placeholder="https://yourwebsite.com">
  </fieldset>
</section>
