<%- include('inc/head') %>
<main class="md-d-flex w-100 col-gap-2 p-1 md-p-2">
  <div class="panel bg-white info border-0 shadow w-100 md-w-50">
    <h3>Account Settings</h3>
    <%- include('account-fields') %>
    <fieldset>
      <label for="textarea-input">Custom CSS</label>
      <textarea class="w-500px" id="textarea-input"></textarea>
    </fieldset>
    <section>
      <button class="btn">Save</button>
      <button class="btn btn-clear">Cancel</button>
    </section>
  </div>
</main>
<%- include('inc/foot') %>
