<%- include('inc/head'); %>
<main class="w-100 p-1 md-p-2">
  <div class="card w-400px mx-auto mt-5 bg-white">
    <h3>Login</h3>
    <blockquote class="border-danger text-danger code">
      Incorrect login!
    </blockquote>
    <fieldset class="mb-0">
      <label class="sr-only" for="text-input">Username</label>
      <input class="w-300px" id="text-input" type="text" value="" placeholder="Username">
      <label class="sr-only" for="text-input">Password</label>
      <input class="w-300px" id="text-input" type="password" value="" placeholder="Password">
      <button class="btn">Login</button>
      <a href="/signup" class="btn btn-clear">Signup</button>
    </fieldset>
  </div>
</main>
<%- include('inc/foot') %>
